
features/Assignment4/configs/default.xml
features/.metadata/.plugins/org.eclipse.core.resources/.projects/Assignment4/.markers.snap
features/.metadata/.plugins/org.eclipse.core.resources/.projects/Assignment4/.syncinfo.snap
features/.metadata/.plugins/org.eclipse.core.resources/.projects/FeaturesIDE/.markers.snap
features/.metadata/.plugins/org.eclipse.core.resources/.projects/FeaturesIDE/.syncinfo.snap
features/.metadata/.plugins/org.eclipse.core.resources/.projects/FeaturesTest/.markers.snap
features/.metadata/.plugins/org.eclipse.core.resources/.projects/FeaturesTest/.syncinfo.snap
features/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
features/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
features/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
features/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
features/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
features/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
features/.metadata/.plugins/org.eclipse.core.resources/.projects/Assignment4/.markers.snap
features/.metadata/.plugins/org.eclipse.core.resources/.projects/Assignment4/.syncinfo.snap
features/.metadata/.plugins/org.eclipse.core.resources/.projects/FeaturesIDE/.markers.snap
features/.metadata/.plugins/org.eclipse.core.resources/.projects/FeaturesIDE/.syncinfo.snap
features/.metadata/.plugins/org.eclipse.core.resources/.projects/FeaturesTest/.markers.snap
features/.metadata/.plugins/org.eclipse.core.resources/.projects/FeaturesTest/.syncinfo.snap
features/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
features/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
features/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
features/.metadata/.plugins/org.eclipse.core.resources/.projects/Assignment4/.markers.snap
features/.metadata/.plugins/org.eclipse.core.resources/.projects/Assignment4/.syncinfo.snap
features/.metadata/.plugins/org.eclipse.core.resources/.projects/FeaturesIDE/.markers.snap
features/.metadata/.plugins/org.eclipse.core.resources/.projects/FeaturesIDE/.syncinfo.snap
features/.metadata/.plugins/org.eclipse.core.resources/.projects/FeaturesTest/.markers.snap
features/.metadata/.plugins/org.eclipse.core.resources/.projects/FeaturesTest/.syncinfo.snap
features/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
features/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
features/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
features/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
features/Assignment4/.idea/workspace.xml
